* {
  box-sizing: border-box;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #3a3a3a;
  opacity: 0;
  visibility: hidden;
  z-index: 40;
  transition: opacity .25s ease 0s, visibility linear .35s;
}

.modal-overlay.state-show {
  opacity: .7;
  visibility: visible;
  transition-delay: 0s;
}

.modal-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  text-align: center;
  visibility: hidden;
}

.modal-frame.state-appear {
  visibility: visible;
}

.modal-frame.state-appear .modal-inset {
  animation: modalComeIn .5s cubic-bezier(0, 0, 0, 0.75) forwards;
  visibility: visible;
}

.modal-frame.state-appear .modal-body {
  opacity: 1;
  transform: translateY(0) scale(1,1);
}

.modal-frame.state-leave {
  visibility: visible;
}

.modal-frame.state-leave .modal-inset {
  animation: modalHeadOut .35s cubic-bezier(0, 0, 0, 0.7) .2s forwards;
  visibility: visible;
}

.modal-frame.state-leave .modal-body {
  opacity: 0;
  transition: all .35s cubic-bezier(0, 0, 0, 0.7);
  transform: translateY(2.3148vh);
}

.modal {
  display: block;
  text-align: center;
}

.modal-inset {
  position: relative;
  padding: 5.5556vh;
  background-color: rgb(255, 255, 255);
  min-width: 29.6296vh;
  min-height: 11.6667vh;
  margin: auto;
  box-shadow: 2.0002px 0.1852vh 0.7407vh 0.0926vh rgba(0,0,0,.2);
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  border-radius: 2.3148vh;
  overflow-y: auto;
}


.modal-inset .close {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0.9259vh;
  right: 0.9259vh;
  padding: 0.9259vh;
  opacity: .4;
  transition: opacity .2s ease;
  color: black;
}

.modal-inset .close:hover {
  opacity: 1;
}

.modal-body {
  margin: auto;
  opacity: 0;
  transform: translateY(0) scale(.8, .8);
  transition: opacity .25s .1s cubic-bezier(0, 0, 0, 0.7), transform .25s .1s cubic-bezier(0, 0, 0, 0.7);
}

.modal-body h3 {
  font-weight: bolder;
  padding-bottom: 2.037vh;
  display: block;
  color: rgb(40, 40, 139);
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 170%;
}

.modal-body p {
  padding-bottom: 1.8519vh;
  color: rgb(73, 71, 160);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 125%;
}

.modal-body .ps {
  font-size: 1.1111vh;
  opacity: .3;
}


@keyframes modalComeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(.01, .01);
  }
  65% {
    transform: scale(1.03, 1.03);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes modalHeadOut {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(3.2407vh) scale(.8, .8);
  }
}