* {
  box-sizing: border-box;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #3a3a3a;
  opacity: 0;
  visibility: hidden;
  z-index: 40;
  transition: opacity .25s ease 0s, visibility linear .35s;
}

.modal-overlay.state-show {
  opacity: .7;
  visibility: visible;
  transition-delay: 0s;
}

.modal-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  text-align: center;
  visibility: hidden;
}

.modal-frame.state-appear {
  visibility: visible;
}

.modal-frame.state-appear .modal-inset {
  animation: modalComeIn .25s ease forwards;
  visibility: visible;
}

.modal-frame.state-appear .modal-body {
  opacity: 1;
  transform: translateY(0) scale(1,1);
}

.modal-frame.state-leave {
  visibility: visible;
}

.modal-frame.state-leave .modal-inset {
  animation: modalHeadOut .35s ease .1s forwards;
  visibility: visible;
}

.modal-frame.state-leave .modal-body {
  opacity: 0;
  transition: all .35s ease;
  transform: translateY(25px);
}

.modal {
  display: block;
  text-align: center;
}

.modal-inset {
  position: relative;
  padding: 60px;
  background-color: rgb(255, 255, 255);
  min-width: 320px;
  min-height: 126px;
  margin: auto;
  box-shadow: 2px 2px 8px 1px rgba(0,0,0,.2);
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  border-radius: 25px;
  overflow-y: auto;
}


.modal-inset .close {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  opacity: .4;
  transition: opacity .2s ease;
  color: black;
}

.modal-inset .close:hover {
  opacity: 1;
}

.modal-body {
  margin: auto;
  opacity: 0;
  transform: translateY(0) scale(.8, .8);
  transition: opacity .25s .1s ease, transform .25s .1s ease;
}

.modal-body h3 {
  font-weight: 700;
  padding-bottom: 22px;
  display: block;
  color: #F2594B;
  text-align: center;
}

.modal-body p {
  padding-bottom: 20px;
}

.modal-body .ps {
  font-size: 12px;
  opacity: .3;
}


@keyframes modalComeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(.8, .8);
  }
  65% {
    transform: scale(1.03, 1.03);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes modalHeadOut {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(35px) scale(.97, .97);
  }
}