<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/buttons1.css">
    <link rel="stylesheet" type="text/css" href="../static/css/alignment.css">
    <link rel="stylesheet" type="text/css" href="../static/css/pagetype1.css">
    <link rel="stylesheet" type="text/css" href="../static/css/texts1.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EduTechno</title>
    <meta name="description" content="EduTechno, Eğitim İle İlgilenen ve Çocuklar Tarafından bir proje için yapılmış bir projedir.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar">
      <button class="btn1" id="navbtn1">Ana Sayfa</button>
      <button class="btn1" id="navbtn2">Hakkımızda</button>
      <button class="btn1" id="navbtn3">Yaptığımız Projeler</button>
      <button class="btn1" id="navbtn4">İletişim</button>
    </nav>
    <h1 class="line-center ImportantText">Hoşgeldiniz!</h1>
    <div>
      <p class="para line-center">Selam</p>
    </div>
    <script src="../static/js/buttons1-10.js" async></script>
    <script src="../static/js/startanimpage1.js" async></script>
  </body>
</html>
