<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/alignment.css">
    <link rel="stylesheet" type="text/css" href="../static/css/pagetype1.css">
    <link rel="stylesheet" type="text/css" href="../static/css/texts1.css">
    <link rel="stylesheet" type="text/css" href="../static/css/modals1.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EduTechno</title>
    <meta name="description" content="EduTechno, Eğitim İle İlgilenen ve Çocuklar Tarafından bir proje için yapılmış bir projedir.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <img src="../static/images/favicon.png" alt="EduTechno Logo" class="logo stuck">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar">
      <button class="btn1 open" data-modal="modal1">Hakkımızda</button>
      <button class="btn1 open" data-modal="modal2">Yaptığımız Projeler</button>
      <button class="btn1 open" data-modal="modal3">İletişim</button>
    </nav>
    <div class="container Important">
      <h1 class="line-center ImportantText">Hoşgeldiniz!</h1>
    </div>
    <div class="container line-center">
      <p class="para line-center">Selam</p>
    </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="../static/js/animspage1.js" defer></script>

<div class="modal-frame" id="modal1">
  <div class="modal">
    <div class="modal-inset">
      <div class="close"><i class="fa-solid fa-xmark"></i></div>

      <div class="modal-body">
        <h3>EduTechno Hakkında. . .</h3>
        <p style="color: black;">EduTechno, Eğitim İle İlgilenen ve Çocuklar Tarafından bir proje için yapılmış bir projedir.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal-frame" id="modal2">
  <div class="modal">
    <div class="modal-inset">
      <div class="close"><i class="fa-solid fa-xmark"></i></div>

      <div class="modal-body">
        <h3>Eski Yaptığımız Projeler. . .</h3>
        <p style="color: black;">Websiteler (<a href="https://hayatkaynagisu.onrender.com" target="_blank">https://hayatkaynagisu.onrender.com</a>)
         <br> yada (<a href="https://hayatkaynagisu.com" target="_blank">https://hayatkaynagisu.com</a>) ilk yapılan websitelerimiz o yüzden kod ve tasarım biraz garip olabilir.
         <br> Ayrıca bu projelerimizdeki kodların hepsi bizim tarafımızdan yazılmamıştır. Kodların bazı kısımları ChatGPT tarafından yazılmıştır.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal-frame" id="modal3">
  <div class="modal">
    <div class="modal-inset">
      <div class="close"><i class="fa-solid fa-xmark"></i></div>

      <div class="modal-body">
        <h3>Bizimle Nasıl İletişime Geçebilirsiniz?</h3>
        <p style="color: black;">E-mail'imiz: edutechnoturkiye@gmail.com <br> Telefon Numaramız: </p>
      </div>
    </div>
  </div>
</div>


<div class="modal-overlay"></div>
  </body>
</html>
